
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="adminPage">
    <h1 class="adminPage__heading">Product Pages</h1>
    <div>
        <div class="card">
            <div class="card__header">
                <h3>Categories News List</h3>
            </div>
            <div class="card__body">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Thumb</th>
                            <th>UrlVideo</th>
                            <th>Create</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.ProductShortDescription</td>
                                <td> <img style="width: 70px; height: 70px; object-fit:cover" src="@item.ProductImage" /></td>
                                <td>@item.UrlVideoYoutube</td>
                                <td>@item.CreateAt</td>
                                <td><a href="#">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card__footer">
                <a href="#">View All!</a>
            </div>
        </div>
        <a href="@Url.Action("Create", "Product")" style="margin-left: 2rem" class="btn btn--add btn--blue">Create</a>
    </div>
</div>