
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block__container">
    <div class="block__header">
        <h2 class="block__header__heading">
            <a href="#">
                Lộ trình học Back-end
                <span class="span-blue">Mới</span>
            </a>
        </h2>
        <span class="block__header__span">
            <a href="@Url.Action("Backend","LearningPath")">Xem chi tiết </a>
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>
    <div class="block__main">
        @foreach (var item in Model.listCourseNotFontend)
        {
            <div class="block__main__item">
                <div class="block__main__header">
                    <img src="@item.CategoryImage" alt="Alternate Text" />
                    <div class="block__main__item__button">
                        <a href="@Url.Action("Details","CategoryCourse", new {id = item.CategoryCourseId})" class="btn--sub">Tìm kiếm ngay</a>
                    </div>
                </div>
                <h3 class="block__main__item__heading">
                    <a href="@Url.Action("Details","CategoryCourse", new {id = item.CategoryCourseId})">
                        @item.CategoryCourseName
                    </a>
                </h3>
                <div class="block__main__item__watch">
                    <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                    <span>71.098</span>
                </div>
            </div>
        }
    </div>
    <div style="margin-top: 3rem" class="block__header">
        <h2 class="block__header__heading">
            <a href="#">
                Lộ trình học Font-end
                <span class="span-blue">Mới</span>
            </a>
        </h2>
        <span class="block__header__span">
            <a href="@Url.Action("Fontend","LearningPath")">Xem chi tiết </a>
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>
    <div class="block__main">
        @foreach (var item in Model.listCourseFondend)
        {
            <div class="block__main__item">
                <div class="block__main__header">
                    <img src="@item.CategoryImage" alt="Alternate Text" />
                    <div class="block__main__item__button">
                        <a href="@Url.Action("Details","CategoryCourse", new {id = item.CategoryCourseId})" class="btn--sub">Tìm kiếm ngay</a>
                    </div>
                </div>
                <h3 class="block__main__item__heading">
                    <a href="@Url.Action("Details","CategoryCourse", new {id = item.CategoryCourseId})">
                        @item.CategoryCourseName
                    </a>
                </h3>
                <div class="block__main__item__watch">
                    <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                    <span>71.098</span>
                </div>
            </div>
        }
    </div>
    <div style="margin-top: 3rem" class="block__header">
        <h2 class="block__header__heading">
            <a href="#">
                Các chủ đề về Fullstack
                <span class="span-blue">Mới</span>
            </a>
        </h2>
        <span class="block__header__span">
            <a href="@Url.Action("Index","LearningPath")">Xem chi tiết </a>
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>
    <div class="block__main">
        @foreach (var item in Model.listCategoryBLog)
        {
            <div class="block__main__item">
                <div class="block__main__header">
                    <img src="@item.Thumb" alt="Alternate Text" />
                    <div class="block__main__item__button">
                        <a href="@Url.Action("BlogByCate", "Blog", new {id = item.Id})" class="btn--sub">Tìm kiếm ngay</a>
                    </div>
                </div>
                <h3 class="block__main__item__heading">
                    <a href="@Url.Action("BlogByCate", "Blog", new {id = item.Id})">
                        @item.Title
                    </a>
                </h3>
                <div class="block__main__item__watch">
                    <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                    <span>71.098</span>
                </div>
            </div>
        }
    </div>
    <div style="margin-top: 3rem" class="block__header">
        <h2 class="block__header__heading">
            <a href="#">
                Các giáo viên tiêu biểu
                <span class="span-blue">Mới</span>
            </a>
        </h2>
        <span class="block__header__span">
            <a href="@Url.Action("Index","LearningPath")">Xem chi tiết </a>
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>
    <div class="block__main">
        @foreach (var item in Model.listTeacher)
        {
            <div class="block__main__item">
                <div class="block__main__header">
                    <img style="object-fit: cover; height: 400px" src="@item.Image" alt="Alternate Text" />
                    <div class="block__main__item__button">
                        <a href="@Url.Action("BlogByCate", "Blog", new {id = item.TeacherId})" class="btn--sub">Xem chi tiết</a>
                    </div>
                </div>
                <h3 class="block__main__item__heading">
                    <a href="@Url.Action("BlogByCate", "Blog", new {id = item.TeacherId})">
                        @item.TeacherName
                    </a>
                </h3>
                <div class="block__main__item__watch">
                    <i class='bx bx-customize' style="font-size: 1.4rem; font-weight: 500"></i>
                    <span>@item.Skill</span>
                </div>
                <p style=" width: 300px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; margin-top: 1.5rem; font-size: 1.2rem; font-weight: 400">@item.Description</p>
            </div>
        }
    </div>
    <div style="margin-top: 3rem" class="block__header">
        <h2 class="block__header__heading">
            <a href="#">
                Các bài blog nỗi bật
                <span class="span-blue">Mới</span>
            </a>
        </h2>
        <span class="block__header__span">
            <a href="@Url.Action("Index","Blog")">Xem chi tiết </a>
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>
    <div class="block__main">
        @foreach (var item in Model.blogHot)
        {
            <div class="block__main__item">
                <div class="block__main__header">
                    <img src="@item.ThumBlog" alt="Alternate Text" />
                    <div class="block__main__item__button">
                        <a href="@Url.Action("Destails","Blog", new {id = item.BlogId})" class="btn--sub">Tìm kiếm ngay</a>
                    </div>
                </div>
                <h3 class="block__main__item__heading">
                    <a href="@Url.Action("Destails","Blog", new {id = item.BlogId})">
                        @item.Title
                    </a>
                </h3>
                <div class="block__main__item__watch">
                    <img src="~/assets/images/team-svgrepo-com.svg" alt="Alternate Text" />
                    <span>71.098</span>
                </div>
            </div>
        }
    </div>
</div>


<div class="section__newbie">
    <div class="section__newbie__left">
        <h2 class="heading section__newbie__left__heading">
            Bạn đang tìm kiếm lộ trình học cho người mới?
        </h2>
        <p>
            Các khóa học được thiết kế phù hợp cho người mới, lộ trình học rõ ràng, nội dung dễ hiểu.
        </p>
        @Html.ActionLink("Xem lộ trình", "Index", "LearningPath", null,  new { @class = "button-black" })
    </div>
    <div class="section__newbie__right">
        <img src="~/assets/images/lotrinh.png" alt="Alternate Text" />
    </div>
</div>