
@model pjWebBPA.contextModels.UserAccount
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Web học fullstack hay nhất việt nam">
    <meta name="author" content="Nhóm Bình Phong Anh">
    <meta name="keywords" content="HTML , CSS , SCSS , JavaScript , Typescript">
    <title>Đăng ký - APB</title>
    <link href="~/assets/boxicons-2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/css/styles.css" rel="stylesheet" />
    <link href="~/assets/css/user.css" rel="stylesheet" />
</head>
<body>
    <div class="auth">
        <div class="container">
            <div class="auth__container">
                <div class="auth__header">
                    <a href="/user/Register" class="back">
                        <i class='bx bx-chevron-left'></i>
                    </a>
                    <div class="auth__header__logo">
                        <a href="/Admin/index">
                            <img src="~/assets/images/logo40.png" alt="Alternate Text" />
                        </a>
                    </div>
                    <h1 class="auth__header__title">
                        Đăng kí tài khoản <span>APB</span>
                    </h1>
                    <div class="auth__header__center">
                        @using (Html.BeginForm("RegisterForm", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-group-auth">
                                @Html.LabelFor(m => m.displayName, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.displayName, new { @class = "form-control", @placeholder = "Ví dụ: Nguyễn Thị Phan Thị" })
                                <span class="form-message">
                                    @Html.ValidationMessageFor(model => model.displayName, "");
                                </span>
                            </div>
                            <div class="form-group-auth">
                                @Html.LabelFor(m => m.email, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Địa chỉ email của bạn" })
                                <span class="form-message">
                                    @Html.ValidationMessageFor(model => model.email, "");
                                </span>
                            </div>
                            <div class="form-group-auth">
                                @Html.LabelFor(m => m.password, new { @class = "form-label" })
                                @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password của bạn" })
                                <span class="form-message">
                                    @Html.ValidationMessageFor(model => model.password, "");
                                </span>
                            </div>
                            <span>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </span>
                        <div style="padding: 1rem; text-align: center">

                            <h5 style="font-size: 1.3rem"><span>@ViewBag.error</span></h5>
                            <h5 style="font-size: 1.3rem">@ViewBag.success</h5>

                        </div>
                        <button class="button-auth" type="submit">
                            Đăng Ký
                        </button>
                    }
                        <p class="register-form">
                            Bạn đã có tài khoản ? <span> @Html.ActionLink("Đăng nhập", "Login")</span>
                        </p>
                    </div>

                </div>
                <div class="auth__footer">
                    <a href="#">Giới thiệu về APB</a>
                    <span class="spane-white">|</span>
                    <a href="#">ABP<span>PRO</span> trên facebook</a>
                    <span class="spane-white">|</span>
                    <a href="#">Liên hệ hợp tác</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
