@using pjWebBPA.contextModels;
@model dynamic
@{
    ViewBag.Title = "Destails";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";


}

<div class="container__center">
    <div class="blogDetails">
        <div class="blogDetails__static">
            <img src="@Model.blogDetails.imageAuthor" alt="Alternate Text" />
            <h4>@Model.blogDetails.Author</h4>
            <p>nothing yet</p>
            <hr />
            <div class="blogDetails__static__action">
                <div>
                    <i class='bx bx-heart'></i>
                    <span>207</span>
                </div>
                <div>
                    <i class='bx bx-message-rounded-minus'></i>
                    <span>9</span>
                </div>
            </div>
        </div>
        <div class="blogDetails__container">
            <h1 class="blogDetails__container__title">@Model.blogDetails.Title</h1>
            <div class="blogDetails__container__header">
                <img src="@Model.blogDetails.imageAuthor" alt="Alternate Text" />
                <div>
                    <h4>@Model.blogDetails.Author</h4>
                    <p>@Model.blogDetails.CreateAt · 6 phút đọc</p>
                </div>
                <div class="blogDetails__container__header__end">
                    <i class='bx bx-bookmark'></i>
                    <i class='bx bx-dots-horizontal-rounded'></i>
                </div>
            </div>
            
                @Html.Raw(Model.blogDetails.ContentBlog)
            
            <img src="@Model.blogDetails.ThumBlog" alt="wepik-20211113-01332.png" />
        </div>
        <ul class="tag">
            @foreach (var item in Model.listTag)
            {
                <li>
                    <a href="#">@item</a>
                </li>
            }
        </ul>
        <div class="author">
            <h3>Bài đăng cùng tác giả</h3>
            <ul>
                @if (Model.authorBlog.Count == 0)
                {
                    <text>Không có bài viết nào cùng tác giả</text>
                }
                else
                {
                    foreach (Blog item in Model.authorBlog)
                    {
                        <li>
                            @Html.ActionLink(item.Title, "Destails", "Blog", new { id = item.BlogId }, null)
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="blogOthors">
            <h3 class="blogOthors__title">
                Bài viết nổi bật khác
            </h3>
            <div class="blogOthors__container">
                @if (Model.listBlog.Count == 0)
                {
                    <text>Không có bài viết nào nỗi bật</text>
                }
                else
                {
                    foreach (Blog blog in Model.listBlog)
                    {
                        <div class="blogOthors__container__item">
                            <div class="blogOthors__container__item__header">
                                <p>Đăng bởi <span>@blog.Author</span></p> · 7 tháng trước
                            </div>
                            <h3 class="blogOthors__container__item__title">
                                <a href="@Url.Action("Destails", "Blog", new {id = blog.BlogId})">@blog.Title</a>
                            </h3>
                            <img src="@blog.ThumBlog" alt="Alternate Text" />
                            <p>
                                @blog.ShortContent
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="footerBlogDetails">
            <h3>CÁC CHỦ ĐỀ ĐƯỢC ĐỀ XUẤT</h3>
            <ul>
                @foreach (CategoryBlog categoryBlog in Model.listCategory)
                {
                    <li>
                        <a href="@Url.Action("BlogByCate", "Blog", new {id = categoryBlog.Id})">@categoryBlog.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
