@model pjWebBPA.contextModels.Teacher

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="create">
        <h1 class="create__title">Create Teacher</h1>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="create__container">
        <div class="form-group-auth">
            @Html.LabelFor(model => model.TeacherName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.TeacherName, new { @class = "form-control", @placeholder = "Name: Thế Anh" })
            <span class="form-message">
                @Html.ValidationMessageFor(model => model.TeacherName, "");
            </span>
        </div>

        <div class="form-group-auth">
            @Html.LabelFor(model => model.Description, new { @class = "form-label" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Là một giáo viên dạy ...." })
            <span class="form-message">
                @Html.ValidationMessageFor(model => model.Description, "");
            </span>
        </div>

        <div class="form-group-auth">
            @Html.LabelFor(m => m.Skill, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Skill, new { @class = "form-control", @placeholder = "Giảng dạy bộ môn..." })
            <span class="form-message">
                @Html.ValidationMessageFor(model => model.Skill, "");
            </span>
        </div>


        <div class="form-group-auth">
            @Html.LabelFor(m => m.Image, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Image, new { @class = "form-control", @placeholder = "Link hình ảnh" })
            <span class="form-message">
                @Html.ValidationMessageFor(model => model.Image, "");
            </span>
        </div>


        <span>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </span>
        <div style="padding: 1rem; text-align: center">

            <h5 style="font-size: 1.3rem"><span>@ViewBag.error</span></h5>
            <h5 style="font-size: 1.3rem">@ViewBag.success</h5>

        </div>
        <button class="button-auth" type="submit">
            Create
        </button>
    </div>
    </div>
}