@model pjWebBPA.contextModels.description

@{
    ViewBag.Title = "Description";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="create">
    <h1 class="create__title">Create description for course</h1>
    <div class="create__container">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group-auth">
            @Html.LabelFor(m => m.Description, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Link video" })
            <span class="form-message">
                @Html.ValidationMessageFor(model => model.Description, "");
            </span>
        </div>

        <div class="form-group-auth">
            @Html.LabelFor(m => m.ListDesc, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.ListDesc, new { @class = "form-control", @placeholder = "Link video" })
            <span class="form-message">
                @Html.ValidationMessageFor(model => model.ListDesc, "");
            </span>
        </div>

        <div class="form-group-auth">
            @Html.LabelFor(m => m.CateCourseId, new { @class = "form-label" })
            @Html.DropDownListFor(model => model.CateCourseId, new SelectList(Model.listCategoryCourse, "CategoryCourseId", "CategoryCourseName"), new { @class = "form-control", @placeholder = "Link video" })
            <span class="form-message">
                @Html.ValidationMessageFor(model => model.CateCourseId, "");
            </span>
        </div>

        <span>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </span>
        <div style="padding: 1rem; text-align: center">

            <h5 style="font-size: 1.3rem"><span>@ViewBag.error</span></h5>
            <h5 style="font-size: 1.3rem">@ViewBag.success</h5>

        </div>
        <button class="button-auth" type="submit">
            Create
        </button>
    </div>
</div>
}

