@using pjWebBPA.contextModels
@using PagedList.Mvc;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="detailsCategoryCourse">
    <div class="detailsCategoryCourse__left">
        <h1 class="detailsCategoryCourse__left__heading">
            @Model.courseCate.CategoryCourseName
        </h1>
        <p class="detailsCategoryCourse__left__desc"> @Model.courseCate.TitleCategoryCourse</p>
        <div class="detailsCategoryCourse__left__block1">
            <h2 class="detailsCategoryCourse__left__block1__heading">Bạn sẽ học  được gì?</h2>
            <ul>
                @if(Model.listDesc != null)
            {
                foreach(var item in Model.listDesc)
                {
                <li>
                    <span><i class='bx bx-check'></i></span>
                    <text>@item</text>
                </li>
                }
            }
               
            </ul>
            <h2 class="detailsCategoryCourse__left__block1__heading">Yêu cầu</h2>
            <ul>
                @if (Model.listDescSub != null)
                {
                    foreach (var item in Model.listDescSub)
                    {
                        <li>
                            <span><i class='bx bx-check'></i></span>
                            <text>@item</text>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="detailsCategoryCourse__left__container">
            <h3 class="detailsCategoryCourse__left__container__heading">
                Nội dung khóa học
            </h3>
            <p>
                14 chương
                •
                @Model.listProduct.Count bài học
                •
                Thời lượng 28 giờ 05 phút
            </p>
            <h3>Danh sách bài học</h3>
            <ul>
                @foreach (var item in Model.listProduct)
                {
                    <li>
                        <a href="@Url.Action("MatchCourse", "CategoryCourse", new {id = Model.courseCate.CategoryCourseId , active = item.ProductId})"><img src="@item.ProductImage" alt="Alternate Text" /></a>
                        <div>
                            <a href="@Url.Action("MatchCourse", "CategoryCourse", new {id = Model.courseCate.CategoryCourseId , active = item.ProductId})"> <h4>@item.ProductName</h4></a>
                            <p>@item.ProductShortDescription</p>
                            <p><span>seri</span>  @Model.courseCate.CategoryCourseName</p>
                        </div>
                    </li>
                }
            </ul>

        </div>
        <div>
            <div class="paged__list" style="">
                @Html.PagedListPager(Model.listProduct as PagedList.IPagedList<ProductCourse>, page => Url.Action("Details", new { page }))
            </div>
        </div>
    </div>
    <div class="detailsCategoryCourse__right">
        <div class="detailsCategoryCourse__right__img" style="background-image: url(@Model.courseCate.CategoryImage) ,linear-gradient(180deg,rgba(30,30,28,0),rgba(30,30,28,.9)) ">
            <a href="#" class="active-videodemo">
                <i class='bx bx-play-circle'></i>
                Xem giới thiệu khóa học
            </a>
        </div>
        <h3>Chào bạn</h3>
        <a href="@Url.Action("MatchCourse", "CategoryCourse", new {id = Model.courseCate.CategoryCourseId})" class="btn btn--add">học bài Now!</a>
        <ul>
            <li>
                <i class='bx bx-ghost'></i>
                Trình độ cơ bản
            </li>
            <li>
                <i class='bx bx-movie-play'></i>    
                Số người đăng kí học
            </li>
            <li>
                <i class='bx bx-time'></i>
                Số bài giảng <span>@if (Model.listProduct.Count != null)
{<text>@Model.listProduct.Count</text>}</span>
            </li>
            <li>
                <i class='bx bx-desktop'></i>
                Học mọi lúc, mọi nơi
            </li>
        </ul>
    </div>
</div>

<div class="model">
    <div class="overlay"></div>
    <div class="model__container" style="z-index: 100">
        <h3>Giới thiệu khóa học</h3>
        <h2> @Model.courseCate.CategoryCourseName</h2>
        <iframe id="model-cate" width="800" height="400" src="@Model.courseCate.UrlCourse" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
</div>